@import "tailwindcss";

@theme {
  --color-medical-50: #eff6ff;
  --color-medical-100: #dbeafe;
  --color-medical-500: #3b82f6;
  --color-medical-600: #2563eb;
  --color-medical-900: #1e3a8a;
  
  --color-alert-100: #fee2e2;
  --color-alert-500: #ef4444;
  --color-alert-600: #dc2626;

  --color-warning-500: #f59e0b;
  --color-safe-500: #10b981;

   --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
